<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stupac_template/styles.css' %}?v=16">
    <style>

        .main-content {
            padding: 20px;
            position: relative;
            z-index: 1;
        }
    </style>
    <title>Admin home</title>
    <link rel="icon" href="data:,">
</head>
<body>
<!--Navbar-->
<div class="topnav">
    <a href="{% url 'enrol_user' %}" class="active">Enrol user</a>
    <a href="{% url 'view_users_and_assign_pac' %}">View users and assign pac</a>
    <a style="float:right" href="{% url 'login' %}">Sign out</a>
</div>

<div class="main-content">
<h1>Admin home</h1>
<!--Buttons-->
<button href="{% url 'login' %}">Login</button>
<br>
<br>
<button href="{% url 'view_users_and_assign_pac' %}">View users and assign pac</button>
</div>
</body>
</html>
