{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stupac_template/styles.css' %}">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<!--Input form-->
<form>
    <label>Username
        <br>
        <input type="text">
        <br>
    </label>
        <label>Password
        <br>
        <input type="text">
        <br>
    </label>
    <input type="submit">
</form>
</body>
</html>
