{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stupac_template/styles.css' %}?v=16">
    <style>

        .main-content {
            padding: 20px;
            position: relative;
            z-index: 1;
        }
    </style>
    <title>Student home</title>
    <link rel="icon" href="data:,">
</head>
<body>
<!--Navbar-->
<div class="topnav">
    <a style="float:right" href="{% url 'login' %}">Sign out</a>
</div>

<div class="main-content">
<h1>Student home</h1>
<p class="underlined">PAC details</p>
<p>PAC first name: Sample name</p>
<p>PAC last name: Sample name</p>
<p>PAC email: Sample email</p>
<p>PAC department: Sample department</p>
</div>
</body>
</html>
